<div
  *ngIf="isOpen"
  id="modal"
  aria-labelledby="modal-title"
  role="dialog"
  [@fadeInOut]="isOpen"
  class="fixed inset-0 z-30 flex items-center justify-center bg-black bg-opacity-60 backdrop-filter backdrop-blur-sm"
>
  <div
    class="bg-white rounded-2xl shadow-2xl w-11/12 max-w-2xl p-4 sm:p-8 relative"
    role="dialog"
    aria-labelledby="modal-title"
    aria-describedby="modal-description"
  >
    <button
      class="absolute top-4 right-4 text-gray-500 hover:text-gray-800 transition"
      (click)="closeModal()"
    >
      <i class="fas fa-times text-2xl"></i>
    </button>
    <h2
      id="modal-title"
      class="text-xl sm:text-2xl font-bold text-gray-800 text-center mb-6"
    >
      Medical Record
    </h2>

    <!-- Body -->
    <div class="p-6 space-y-6 max-h-[75vh] overflow-y-auto">
      <!-- Personal Information -->
      <section>
        <h3 class="text-lg font-bold text-gray-800 mb-2">
          Personal Information
        </h3>
        <ul class="text-gray-600 space-y-2">
          <li>
            <strong>Name:</strong> {{ patient?.Nom }} {{ patient?.Prenom }}
          </li>
          <li>
            <strong>Social Security Number:</strong>
            {{ patient?.NSS }}
          </li>
          <li><strong>Date of Birth:</strong> {{ patient?.DateNaissance }}</li>
          <li><strong>Email:</strong> john.doe&#64;patient.com</li>
          <li><strong>Phone:</strong> {{ patient?.Telephone }}</li>
          <li><strong>Age:</strong> {{ patient?.age }}</li>
        </ul>
      </section>

      <!-- Medical History -->
      <section>
        <h3 class="text-lg font-bold text-gray-800 mb-2">Medical History</h3>
        <ul class="list-disc pl-5 text-gray-600">
          <li *ngFor="let history of medicalHistory">{{ history }}</li>
        </ul>
      </section>

      <!-- Prescriptions -->
      <section>
        <h3 class="text-lg font-bold text-gray-800 mb-2">Prescriptions</h3>
        <ul class="space-y-4">
          <li
            *ngFor="let prescription of patientPrescriptions"
            class="bg-blue-50 p-4 rounded-lg"
          >
            <div class="font-semibold text-gray-700">
              {{ prescription.Description }}
            </div>

            <ul class="space-y-2 mt-2">
              <li
                *ngFor="let medicament of prescription.ordonnance_medicaments"
                class="bg-blue-100 p-3 rounded-lg"
              >
                <div class="font-bold">
                  {{ medicament.medicament_details.Nom }}
                </div>
                <div><strong>Dosage:</strong> {{ medicament.Posologie }}</div>
                <div>
                  <strong>Form:</strong>
                  {{ medicament.medicament_details.Forme }} ({{
                    medicament.medicament_details.forme_display
                  }})
                </div>
                <div>
                  <strong>Manufacturer:</strong>
                  {{ medicament.medicament_details.Fabricant }}
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </section>
      <!-- Consultation Summary -->
      <section>
        <h3 class="text-lg font-bold text-gray-800 mb-2">Assessments</h3>
        <ul class="space-y-4">
          <li
            *ngFor="let assessment of patientAssessments"
            class="bg-green-50 p-4 rounded-lg"
          >
            <div class="font-semibold text-gray-700">
              Date: {{ assessment.Date }}
            </div>
            <div class="mt-2">
              <strong>Informations:</strong> {{ assessment.Informations }}
            </div>
            <div *ngIf="assessment.Laborantin" class="mt-2">
              <strong>Laborantin:</strong> {{ assessment.Laborantin }}
            </div>
            <div class="mt-2">
              <strong>Medecin:</strong> {{ assessment.Medecin }}
            </div>
            <div *ngIf="assessment.RadiologistName" class="mt-2">
              <strong>Radiologist:</strong> {{ assessment.RadiologistName }}
            </div>
            <div *ngIf="assessment.Rapport" class="mt-2">
              <strong>Report:</strong> {{ assessment.Rapport }}
            </div>
            <div class="mt-2"><strong>Type:</strong> {{ assessment.Type }}</div>
          </li>
        </ul>
      </section>

      <section>
        <h3 class="text-lg font-bold text-gray-800 mb-2">Summary</h3>
        <ul class="space-y-4">
          <li
            *ngFor="let summary of patientSummary"
            class="bg-yellow-50 p-4 rounded-lg"
          >
            <div class="font-semibold text-gray-700">
              Consultation ID: {{ summary.Consultation_ID }}
            </div>
            <div class="mt-2">
              <strong>Date:</strong> {{ summary.Datecons }}
            </div>
            <div class="mt-2">
              <strong>Medecin:</strong> {{ summary.Medecin }}
            </div>
            <div class="mt-2"><strong>Motif:</strong> {{ summary.Motif }}</div>
            <div class="mt-2">
              <strong>Patient:</strong> {{ summary.Patient }}
            </div>
            <div class="mt-2">
              <strong>Symptoms:</strong> {{ summary.PatientSymptoms }}
            </div>
            <div class="mt-2">
              <strong>Diagnostic:</strong> {{ summary.diagnostic }}
            </div>
            <div class="mt-2">
              <strong>Diagnostic Established:</strong>
              {{ summary.diagnosticEstablished ? "Yes" : "No" }}
            </div>
            <div class="mt-2">
              <strong>Measure:</strong> {{ summary.measure }}:
              {{ summary.measureValue }}
            </div>
            <div class="mt-2">
              <strong>Next Consultation:</strong> {{ summary.nextConsultation }}
            </div>
            <div class="mt-2">
              <strong>Patient History:</strong> {{ summary.patientHistory }}
            </div>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
