<section class="space-y-2.5">
  <h2 class="text-center font-acme text-dark-gray font-semibold text-4xl">
    About MedCare
  </h2>
  <div>
    <p class="font-acme text-dark-gray leading-6 text-center max-w-4xl mx-auto">
      Welcome to MedCare, where innovation meets healthcare. We are dedicated to
      transforming the medical landscape by providing a state-of-the-art Digital
      Patient Record (DPI) management system that redefines how patient
      information is accessed, shared, and utilized.
    </p>
    <div class="flex flex-col gap-y-3 md:flex-row items-center mt-4">
      <p class="font-acme text-dark-gray leading-6 text-center md:text-left">
        Our platform is meticulously designed to address the needs of hospitals,
        healthcare professionals, and patients alike. From administrative staff
        managing patient admissions to doctors diagnosing and treating with
        precision,
      </p>
      <img
        class="max-w-sm"
        src="/images/AboutPic.png"
        alt="About picture"
        loading="lazy"
      />
      <p class="font-acme text-dark-gray leading-6 text-center md:text-left">
        from nurses tracking care details to pharmacists ensuring treatment
        compliance, and from lab technicians reporting results to radiologists
        uploading critical imaging—MedCare connects every touchpoint in the
        patient care journey.
      </p>
    </div>
    <p class="font-acme text-dark-gray leading-6 text-center mt-4">
      With a focus on efficiency, accuracy, and security, MedCare enables
      real-time access to vital health records, including medical histories,
      prescriptions, diagnostic results, and care summaries. By leveraging
      advanced features such as QR code-based patient identification, REST API
      integration for seamless data exchange, and interactive tools like trend
      graphs, our system ensures that every professional has the information
      they need when they need it.
    </p>
    <p class="font-acme text-dark-gray leading-6 text-center mt-5">
      We believe patients deserve more than care—they deserve clarity and
      confidence. That’s why we empower individuals to stay informed about their
      health through transparent access to their records. Whether during a
      hospital stay or at home, MedCare ensures that vital health information is
      just a click away. At MedCare, our mission is clear: to bridge the gap
      between technology and healthcare, fostering collaboration, improving
      outcomes, and creating a future where medical excellence is driven by
      innovation. Together, we are building a smarter, healthier tomorrow.
    </p>
  </div>
</section>
