<div
  *ngIf="isOpen"
  id="modal"
  aria-labelledby="modal-title"
  role="dialog"
  [@fadeInOut]="isOpen"
  class="fixed inset-0 z-30 flex items-center justify-center bg-black bg-opacity-60 backdrop-filter backdrop-blur-sm"
>
  <div
    class="bg-white rounded-2xl shadow-2xl w-11/12 max-w-2xl p-4 sm:p-8 relative overflow-y-auto max-h-[95vh] modal-scrollbar"
    role="dialog"
    aria-labelledby="modal-title"
    aria-describedby="modal-description"
  >
    <button
      class="absolute top-4 right-4 text-gray-500 hover:text-gray-800 transition"
      (click)="closeModal()"
    >
      <i class="fas fa-times text-2xl"></i>
    </button>
    <h2
      id="modal-title"
      class="text-xl sm:text-2xl font-bold text-gray-800 text-center mb-6"
    >
      Add nurse observation and treatment
    </h2>

    <form class="space-y-6" [formGroup]="summaryForm" (ngSubmit)="onSubmit()">
      <div>
        <label
          for="medications"
          class="block text-sm font-medium text-gray-700"
        >
           
        </label>
        <textarea 
          id="medications"
          name="medications" 
          formControlName="Description"
          class="w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
          placeholder="Enter your notes here"
          rows="3"
        ></textarea>
        <div
          class="text-sm text-red-600 mt-1"
          *ngIf="
            summaryForm.get('Description')?.invalid &&
            summaryForm.get('Description')?.touched
          "
        >
          Medication must be at least 5 characters.
        </div>
      </div>
      <div>
        <label
          for="date-signed"
          class="block text-sm font-medium text-gray-600"
        >
          Date Signed
        </label>
        <input
          id="date-signed"
          type="date"
          name="dateSigned"
          formControlName="Date"
          class="w-full p-3 text-sm border rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
        />
        <div
          class="text-sm text-red-600 mt-1" 
          *ngIf="
            summaryForm.get('Date')?.invalid &&
            summaryForm.get('Date')?.touched
          "
        >
          Date signed is required.
        </div>
      </div>
      <!-- Buttons -->
      <div class="flex justify-end space-x-4">
        <button
          (click)="closeModal()"
          type="button"
          class="px-4 py-2 text-sm font-medium text-gray-600 bg-gray-200 rounded-lg hover:bg-gray-300 focus:outline-none"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
          Create
        </button>
      </div>
    </form>
  </div>
</div>
