<div
  *ngIf="isOpen"
  id="modal"
  aria-labelledby="modal-title"
  role="dialog"
  [@fadeInOut]="isOpen"
  class="fixed inset-0 z-40 flex items-center justify-center bg-black bg-opacity-60 backdrop-filter backdrop-blur-sm"
>
  <div
    class="bg-white rounded-2xl shadow-2xl w-11/12 max-w-2xl p-4 sm:p-8 relative overflow-y-auto max-h-[95vh] modal-scrollbar"
    role="dialog"
    aria-labelledby="modal-title"
    aria-describedby="modal-description"
  >
    <button
      class="absolute top-4 right-4 text-gray-500 hover:text-gray-800 transition"
      (click)="closeModal()"
    >
      <i class="fas fa-times text-2xl"></i>
    </button>
    <h2
      id="modal-title"
      class="text-xl sm:text-2xl font-bold text-gray-800 text-center mb-6"
    >
      Lab Results
    </h2>
    <!-- form -->
    <form
      class="space-y-6"
      [formGroup]="labReportForm"
      (ngSubmit)="onSubmit()"
    >
      <!-- Personal Information -->
      <div class="grid grid-cols-2 gap-4">
        <div>
          <label
            for="blood-pressure"
            class="block text-sm font-medium text-gray-600"
          >
            Blood pressure
          </label>
          <input
            id="blood-pressure"
            type="number"
            name="blood_pressure"
            formControlName="blood_pressure"
            class="w-full p-3 text-sm border rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
          />
          <div
            class="text-sm text-red-600 mt-1"
            *ngIf="
              labReportForm.get('blood_pressure')?.invalid &&
              labReportForm.get('blood_pressure')?.touched
            "
          ></div>
        </div>
        <div>
          <label
            for="blood_sugar"
            class="block text-sm font-medium text-gray-600"
          >
            Blood sugar
          </label>
          <input
            id="blood_sugar"
            type="number"
            name="blood_sugar"
            formControlName="blood_sugar"
            class="w-full p-3 text-sm border rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
          />
          <div
            class="text-sm text-red-600 mt-1"
            *ngIf="
              labReportForm.get('blood_sugar')?.invalid &&
              labReportForm.get('blood_sugar')?.touched
            "
          ></div>
        </div>
        
      </div>

      <div class="grid grid-cols-2 gap-4">
        <div>
          <label
            for="cholesterol"
            class="block text-sm font-medium text-gray-600"
          >
            Cholesterol
          </label>
          <input
            id="cholesterol"
            type="number"
            min="1"
            max="120"
            name="age"
            formControlName="cholesterol"
            class="w-full p-3 text-sm border rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
          />
          <div
            class="text-sm text-red-600 mt-1"
            *ngIf="
              labReportForm.get('cholesterol')?.invalid &&
              labReportForm.get('cholesterol')?.touched
            "
          ></div>
        </div>
        <div>
          <label for="Na" class="block text-sm font-medium text-gray-600">
            Na
          </label>
          <input
            id="Na"
            type="number"
            name="Na"
            formControlName="Na"
            class="w-full p-3 text-sm border rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
          />
          <div
            class="text-sm text-red-600 mt-1"
            *ngIf="
              labReportForm.get('Na')?.invalid &&
              labReportForm.get('Na')?.touched
            "
          ></div>
        </div>
        <div>
          <label
            for="hemoglobine"
            class="block text-sm font-medium text-gray-600"
          >
            Hemoglobine
          </label>
          <input
            id="hemoglobine"
            type="number"
            name="hemoglobine"
            formControlName="hemoglobine"
            class="w-full p-3 text-sm border rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
          />
          <div
            class="text-sm text-red-600 mt-1"
            *ngIf="
              labReportForm.get('hemoglobine')?.invalid &&
              labReportForm.get('hemoglobine')?.touched
            "
          ></div>
        </div>
        <div>
          <label for="iron" class="block text-sm font-medium text-gray-600">
            Iron
          </label>
          <input
            id="iron"
            type="number"
            name="iron"
            formControlName="iron"
            class="w-full p-3 text-sm border rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
          />
          <div
            class="text-sm text-red-600 mt-1"
            *ngIf="
              labReportForm.get('iron')?.invalid &&
              labReportForm.get('iron')?.touched
            "
          ></div>
        </div>
        <div class="flex items-center gap-2">
          <input
            id="generate_graph"
            name="generate_graph"
            formControlName="generate_graph"
            type="checkbox"
            class="rounded border-gray-300 text-blue-500 focus:ring-2 focus:ring-blue-500"
          />
          <label for="generate_graph" class="text-sm text-gray-700">
            Generate Graph
          </label>
        </div>
      </div>

      <!-- Date Signed -->
      <div>
        <label
          for="date-signed"
          class="block text-sm font-medium text-gray-600"
        >
          Date Signed
        </label>
        <input
          id="date-signed"
          type="date"
          name="dateSigned"
          formControlName="dateSigned"
          class="w-full p-3 text-sm border rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
        />
        <div
          class="text-sm text-red-600 mt-1" 
          *ngIf="
            labReportForm.get('dateSigned')?.invalid &&
            labReportForm.get('dateSigned')?.touched
          "
        >
          Date signed is required.
        </div>
      </div>


      <!-- Action Buttons -->
      <div class="flex items-center justify-between">
        <button
          (click)="closeModal()"
          type="button"
          class="px-6 py-2 text-sm font-medium text-gray-600 bg-gray-200 rounded-lg hover:bg-gray-300 focus:ring-2 focus:ring-blue-500 focus:outline-none"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="px-6 py-2 text-sm font-medium text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-2 focus:ring-blue-500 focus:outline-none"
        >
          Create
        </button>
      </div>
    </form>
  </div>
</div>
